*{
  box-sizing: border-box;
}
.custom-cursor {
  z-index: 10000; /* Make sure it's high enough to be on top */
}
.MuiDrawer-root {
  pointer-events: auto !important; /* Ensure pointer events are not disabled */
}